<header>
	<center><h1><u>Question 4</u></h1></center>
</header>

<style type="text/css">
	body {
		margin: auto
	}
</style>

<H3><u>Name:</u></H3>
&emsp;&emsp; <%= @me1 %> <br />

<H3><u>Hometown:</u></H3>
&emsp;&emsp; <%= @me2 %> <br />

<H3><u>Class Year:</u></H3>
&emsp;&emsp; <%= @me3 %> <br />

<H3><u>Fun Fact:</u></H3>
&emsp;&emsp; <%= @me4 %> <br />

<H3><u>What I'm Excited About:</u></H3>
&emsp;&emsp; <%= @me5 %> <br />
